@import 'helpers/variables.scss';
@import 'helpers/mixims.scss';
@import 'base/global.scss';
@import 'layout/header.scss';
@import 'layout/footer.scss';
@import 'pages/home.scss';
@import 'pages/blog.scss';
@import 'pages/about.scss';
@import 'pages/contact.scss';
@import 'pages/portfolio.scss';
@import 'layout/responsive.scss';

/* COLORES 
naranjo e76434
naranjo claro f4ada0
grey 989898
*/


/* Container */
.container {
	width: 90%;
	max-width: 1200px;
	border-left: 10px solid white;
	border-right: 10px solid white;

}



/* Fuentes */
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'bebasregular';
}

p {
	font-size: 16px;
	font-family: 'HelveticaNeue';
}

