/* Iconos BLOG */

@mixin iconos-blog ($image) {
	background-image: url($image);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	margin-bottom: $margin-bottom;
}

.entrada1 {@include iconos-blog ("../images/icon1.png");}
.entrada2 {@include iconos-blog ("../images/icon2.png");}
.entrada3 {@include iconos-blog ("../images/icon3.png");}
.entrada4 {@include iconos-blog ("../images/icon4.png");}
.entrada5 {@include iconos-blog ("../images/icon5.png");}


/* --------- */