footer {
	padding: 20px 0px 40px 0px;
	background-color: $orange;
	color: white;
	.social_area {
		ul > li > a {
			font-size: 40px;
		}
	}
	p {
		font-size: 14px;
		font-family: 'HelveticaNeue';
	}
}