.header_area {
	font-size: 20px;
	padding: 10px 0px;
	p {
		color: orange;
		font-size: 50px;
		font-weight: bold;
	}
	span {
		color: #D77D59;
	}
	ul {
		color: black;
		margin-top: 10px;
	}
	.nav-pills > li > a {
		color: silver;			
		background-color: white;
	}

	.nav-pills > li > a:hover {
		color: orange;
		background-color: white;
	}
}


