.header_area {
	font-size: 18px;
	padding: 20px 0px 10px 0px;
	p {
		color: $orange;
		font-size: 50px;
	}
	span {
		color: $naranjado;
	}
	ul {
		margin-top: 15px;
		margin-left: 90px;
	}
	.nav-pills > li > a {
		color: $grey;			
		background-color: white;
	}

	.nav-pills > li > a:hover, 
	.nav-pills > li.active > a:hover, 
	.nav-pills > li.active > a:focus {
		color: $orange;
		background-color: white;
	}
}


.orange-header {
	background-color: $orange;
	color: white;
	margin-bottom: 30px;
}

