/* Menu XS */

.navbar-default {
	background: transparent;
	border: transparent;
	color: $orange;
}

button.navbar-toggle {
	background-color: $orange;
	color: white;
	border: none;
	margin-top: -70px;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
	border-top: 1px solid $orange;
}

ul.navbar-nav { 
	color: white; 
}

.navbar-default .navbar-nav > li > a {
	color: $grey;
}

.navbar-default .navbar-nav > li {
	color: $orange;
}

.navbar-default .navbar-nav > 
li > a:hover, .navbar-default .navbar-nav > 
li > a:focus {
	color: white;
	background-color: $orange;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: $naranjado;
}

