/* ------------ */
/* ----BLOG---- */

.entradas-blog {
	.post, .quote, .link {
		margin-bottom: $margin-bottom;
	}

	.post {
		img {
			width: 100%;
			height: auto;
			margin-left: -15px;
			margin-bottom: 20px;
		}
		p {
			padding-right: 20px;
		}
		h5 {
			margin-bottom: 1px;
		}
		.p {
			margin-bottom: 20px;
		}
	}
	.quote {
		background-image: url("../images/quote_bg.png");
		padding: 30px;
		img {
			float: left;
			margin-right: 20px;
		}
	}

	.link {
		h4 {
			margin-bottom: -5px;
		}
		p {
			margin-top: 20px;
		}
		a {
			color: $grey;
			font-size: 12px;
		}
	}
	.separador {
		background-image: url("../images/post_border_bg.png");
		background-repeat: repeat-x;
		width: 75%;
		height: 20px;
		margin-left: -15px;
	}
}
	
.entrada1 {@include iconos-blog ("../images/icon1.png");}
.entrada2 {@include iconos-blog ("../images/icon2.png");}
.entrada3 {@include iconos-blog ("../images/icon3.png");}
.entrada4 {@include iconos-blog ("../images/icon4.png");}
.entrada5 {@include iconos-blog ("../images/icon5.png");}

.pagination > li > a, 
.pagination > li > span {
	background-color: $orange;
	color: white;
	margin-right: 20px;
	margin-bottom: $margin-bottom;
}

.pagination-lg > li:first-child > a, 
.pagination-lg > li:first-child > span {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.pagination-lg > li:last-child > a, 
.pagination-lg > li:last-child > span {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: $naranjado;
	color: white;
	border-color: $naranjado;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
	background-color: $naranjado;
	color: white;
	border-color: $naranjado;
}
