/* ------------ */
/* ----HOME---- */


.portada {
	.color-area {
		background-color: $naranjado;
		height: 70px;
	}
	img {
		width: 104%;
		height: auto;
		margin-top: -70px;
		margin-left: -20px;
		border-left: 10px solid white;
		border-right: 10px solid white;
	}
}


.main-content {
	padding: 20px 0px;
	img {
		float: left;
		margin-right: 30px;
		margin-bottom: 15px;
		margin-top: 25px;
	}
}


.from, .works {
	margin-bottom: $margin-bottom;
	h6 {
		font-weight: bold;
	}
	h3 {
		background-image: url("../images/heading-bg.png");
		background-repeat: repeat-x;
		background-position: center;
		margin-bottom: $margin-bottom;
		span {
			font-size: 20px;
			background-color: white;
			padding: 10px 50px 0px 0px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.blog_post_meta {
		color: $grey;
		border: 1px solid $grey-border;
		border-top: none;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		h4 {
			margin-bottom: -5px;
		}
	}
}